@model IEnumerable<Repository.Entities.Employee>
 
<table>
    <thead>
        <tr>
            <td> 
                Fornavn  
            </td>
            <td>
                Efternavn   
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
            </tr>
        }
    </tbody>
</table>
